$colors: (
    'common': (
        'white': #ffffff,
        'black': #1f242e,
        'red': #e52700,
    ),
    'grey': (
        '1':#56544d,
        '2':#f4f2ee,
        '3':#faf8f1,
    ),
    'theme': (
        '1': #ff4121,
        '2': #ffca24,
    ),
    'border': (
        '1': rgba(17, 17, 17, 0.08),
    )
);



$white : #ffffff;
$black : #071516;
$theme-primary : #FD4621;
$border-primary : rgba(17, 17, 17, 0.08);