@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Background
/*----------------------------------------*/

.body-bg{
    background: #fbf9f5;
}

.body-bg-2{
    background: #f4f2ee;
}

.body-bg-3{
    background: #fffdf9;
}

.bg-grey-4{
    background: #faf8f1;
}