@use '../utils' as *;
/*---------------------------------
  1.1 Common Classes
---------------------------------*/

.w-img{
	& img{
		width: 100%;
	}
}

.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
  overflow:hidden
}
.clear{
  clear: both;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.tp-fix{
	overflow-x: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.p-inherit{
	position: inherit!important;
}

.common-underline{
	@include bgborder(currentColor, 0,0);
	@include transition(all .4s ease);
	&:hover{
		@include bgborder(currentColor, 0,100%);
		@include transition(all .4s ease);
	}
}
.bg-position {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.tp-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}
.slide-transtion {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

// custom-container-here
$container:(1800,1324);

@each $number in $container{
  @media (min-width:1400px) {
    .container-#{$number}{
      max-width: #{$number}px;
    }
  }
}

// tp-font-famely-variables
@each $font, $famely in $font-family {
  @each $key, $value in $famely{
    .tp-#{$font}-#{$key} {
      font-family: var(--tp-#{$font}-#{$key});
    }
  }
}

/* Font weight */
$font-weight: 100;
@while $font-weight < 1000 {
  .fw-#{$font-weight} {
    font-weight: (#{$font-weight});
  }
  $font-weight: $font-weight + 100;
}

