
.tp-lang-nav ul li {
  position: relative;
}
.tp-lang-nav ul li .submenu {
  position: absolute;
  top: 100%;
  background: #000;
}
.tp-lang-nav ul li .sub-menu {
  position: absolute;
  background: #000000;
  top: 125%;
  right: 0;
  z-index: 4;
  background-color: var(--tp-common-white);
  padding: 10px 32px 11px 18px;
  visibility: hidden !important;
  opacity: 0;
  min-width: max-content;
  border-radius: 4px;
  /* -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out; */
  transition: all 0.3s 0s ease-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  min-width: 150px;
}
.tp-lang-nav ul li{
  list-style: none;
}
.tp-lang-nav ul li:hover .sub-menu{
  visibility: visible !important;
  opacity: 1;
}

.tp-blog-thumb img {
    min-width: 100%;
    object-fit: cover;
}

/* Blog Post */
.tp-sidebar-service-list ul li {
    display: flex;
    justify-content: space-between;
}