@use '../../utils' as *;

/*----------------------------------------*/
/*  4.3 mobile menu css
/*----------------------------------------*/

.tp-offcanvas-menu{
    & ul{
        & li{
              list-style: none;
              position: relative;
              &:last-child{
                & a{
                    border: 0;
                }
              }
            & a{
                font-size: 15px;
                font-weight: 500;
                display: block;
                padding: 8px 0;
                color: var(--tp-common-black);
                border-bottom: 1px solid #ddd;
            }
            &.active{
                & > a{
                    color: var(--tp-theme-1);
                }
                & > button.tp-sidemenu-close{
                    & i{
                        transform: rotate(90deg);
                    }
                }
            }
            & .sub-menu {
                margin-left: 20px;
                display: none;
            }

        }
    }
}


.tp-sidemenu-close {
    position: absolute;
    right: 0;
    top: 5px;
    border: 1px solid #ddd;
    font-size: 12px;
    width: 30px;
    height: 30px;
    & i{
        transition: .3s;
    }
}